@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    width: max-content;
}

.marquee {
    animation: scrolling var(--marquee-time) linear infinite;
}

.marquee:hover {
    animation-play-state: paused;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * var(--marquee-width)));
    }
}
